* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #fff;
}

.fff {
    color: #fff;
}

a {
    text-decoration: none;
}

body {
    background-image: url(../image/bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}


/* stard css */

.container {
    padding-left: 45px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.logo img {
    width: 150px;
    height: auto;
}

.manu {
    margin-top: 70px;
    margin-left: 600px;
}

.manu ul {
    list-style: none;
}

.manu ul li {
    display: inline-block;
    padding-left: 25px;
}

.manu ul li a {
    font-family: monospace;
    font-size: x-large;
    color: #fff;
    font-weight: lighter;
}

.manu ul li a:hover {
    border-bottom: 2px solid #FF560D;
}

.heading h1 {
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bolder;
    margin-top: 25px;
}

.heading h1 span {
    display: block;
}

.heading p {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: lighter;
    margin-top: 10px;
}

.heading p strong {
    color: #FF560D;
}

.button {
    width: 190px;
    height: auto;
    padding: 5px 10px;
    margin-top: 10px;
    margin-top: 40px;
    background-color: #FF560D;
    transition: 0.5s all;
    border-radius: 3px;
}

.button:hover {
    background-color: crimson;
    color: #fff;
    cursor: pointer;
}

.button h3 {
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}

.social {
    margin-top: 50px;
}

.social i {
    font-size: larger;
    padding: 5px;
    transition: 0.5s all;
}

.social i:hover {
    color: #FF560D;
}

.copy {
    margin-top: 5px;
}

.copy p strong {
    color: #FF560D;
    font-family: sans-serif;
    font-weight: bolder;
}


/* Contact Form Pages */

form {
    width: 500px;
    margin-left: 40px;
    height: fit-content;
    border: 1px solid red;
}

form,
input {
    color: #000;
}

form label {
    font-size: large;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    padding: 15px 0;
}

form label span {
    color: red;
    font-size: large;
}

form input {
    width: 450px;
    height: 40px;
}

.none {
    width: 20px;
}


/* responcive mobile */

@media (min-width: 640px) {}